<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hey, <%= @recipient.email %>!</h1>
<p>
  <%= @owner.email %> just shared a document called "<%= @document_title %>" with you.
</p>
<p>
  Code Crew is a online pair programming platform, to access this document and start pairing, follow the link: <%= @url %>.
</p>
<p>Thanks for joining and have a great day!</p>
</body>
</html>