<%= form_with model: @document do |form| %>
  <div class="my-4">
    <div class="input-group">
      <%= form.text_field :title, class: "form-control" %>

      <div class="input-group-append">
        <%= form.submit "Save Title", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>