<div class="d-flex justify-content-between align-items-center my-4">
  <h2>New document</h2>

  <%= link_to 'Back', documents_path, class: "btn btn-link ml-auto" %>
</div>

<%= render 'form' %>

<%= link_to 'Back', documents_path, class: "btn btn-link" %>