<h1>Documents</h1>

<p>
  <strong>Title:</strong>
  <%= @document.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @document.content %>
</p>

<%= link_to 'Edit', edit_document_path(@document), class: "btn btn-link" %>
<%= link_to 'Back', documents_path, class: "btn btn-link" %>