<div class="container alerts">
  <% if notice %>
    <p class="notice alert alert-warning" role="alert">
      <%= notice %>
    </p>
  <% end %>

  <% if alert %>
    <p class="alert alert-danger" role="alert">
      <%= alert %>
    </p>
  <% end %>
</div>